{% load static %}
<style>
      * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", sans-serif;
  }
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1000;
  }

.logo-container img {
    width: 30%;
    height: auto;
  }
  @media (max-width: 600px) {
  .logo-container img {
    width: 50px;
  }
  }

  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 16px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }

  .formbold-file-input input {
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .formbold-file-input label {
    position: relative;
    border: 1px dashed #e0e0e0;
    border-radius: 6px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    text-align: center;
  }
  .formbold-drop-file {
    display: block;
    font-weight: 600;
    color: #07074d;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .formbold-file-preview {
    margin-top: 10px;
    color: #07074d;
    font-size: 14px;
  }

  .formbold-or {
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    display: block;
    margin-bottom: 8px;
  }
  .formbold-browse {
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    display: inline-block;
    padding: 8px 28px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }

  .formbold-file-list {
    border-radius: 6px;
    background: #f5f7fb;
    padding: 8px 16px;
  }

  .formbold-file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .formbold-file-item button {
    color: #07074d;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .formbold-file-name {
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    padding-right: 12px;
  }

  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }

</style>
<div class="logo-container">
    <img src="{% static 'uniGuardian/company_logo.jpg' %}" alt="Company Logo">
</div>
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <div class="formbold-mb-5">
        <label for="email" class="formbold-form-label formbold-form-label-2">
          Full Name
        </label>
        <input
          type="text"
          name="fullname"
          id="fullname"
          placeholder="Enter your Full Name"
          class="formbold-form-input"
        />
      </div>
<!--       Input for Resume -->

      <div class="mb-1 pt-1">
        <label class="formbold-form-label formbold-form-label-2">
          Upload Resume
        </label>

        <div class="formbold-file-input">
          <input type="file" name="resume" id="resume" />
          <label for="resume">
            <div>
              <span class="formbold-drop-file"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
          <div class="formbold-file-preview" id="resume-preview"></div>
        </div>
        </div>
      <div>
<!--         Input for SOP  -->
        <div class="mb-1 pt-1">
        <label class="formbold-form-label formbold-form-label-2">
          Upload Statement of Purpose
        </label>

        <div class="formbold-file-input">
          <input type="file" name="sop" id="sop" />
          <label for="sop">
            <div>
              <span class="formbold-drop-file"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
          <div class="formbold-file-preview" id="sop-preview"></div>
        </div>
           </div>
      <div>
<!--         Input for LOR 1 -->
        <div class="mb-1 pt-1">
        <label class="formbold-form-label formbold-form-label-2">
          Upload Letter of Recommendation 1
        </label>

        <div class="formbold-file-input">
          <input type="file" name="lor1" id="lor1" />
          <label for="lor1">
            <div>
              <span class="formbold-drop-file"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
          <div class="formbold-file-preview" id="lor1-preview"></div>
        </div>
           </div>
      <div>

<!--         Input for LOR 2 -->
        <div class="mb-1 pt-1">
        <label class="formbold-form-label formbold-form-label-2">
          Upload Letter of Recommendation 2
        </label>

        <div class="formbold-file-input">
          <input type="file" name="lor2" id="lor2" />
          <label for="lor2">
            <div>
              <span class="formbold-drop-file"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
          <div class="formbold-file-preview" id="lor2-preview"></div>
        </div>
      <div>
         </div>

        <button type="submit" class="formbold-btn w-full">Send File</button>
      </div>
    </form>
  </div>
<script>
  function displayFileName(input, previewId) {
    if (input.files && input.files[0]) {
      var fileName = input.files[0].name;
      document.getElementById(previewId).innerText = 'Selected file: ' + fileName;
      // Add more logic here if you want to display image previews
    }
  }

  // Event listeners for file input changes
  document.getElementById('resume').addEventListener('change', function() {
    displayFileName(this, 'resume-preview');
  });

  document.getElementById('sop').addEventListener('change', function() {
    displayFileName(this, 'sop-preview');
  });

  document.getElementById('lor1').addEventListener('change', function() {
    displayFileName(this, 'lor1-preview');
  });

  document.getElementById('lor2').addEventListener('change', function() {
    displayFileName(this, 'lor2-preview');
  });
  function readFileAsText(file) {
    return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = () => resolve(reader.result);
        reader.onerror = () => reject(reader.error);
        reader.readAsText(file); // or use other methods for non-text files
    });
}


// async function handleSubmit(event) {
//     event.preventDefault();
//     const email = document.getElementById('email').value;
//     const files = {
//         resume: document.getElementById('resume').files[0],
//         sop: document.getElementById('sop').files[0],
//         lor1: document.getElementById('lor1').files[0],
//         lor2: document.getElementById('lor2').files[0]
//     };

//     const fileContents = await Promise.all(
//         Object.values(files).map(file => readFileAsText(file))
//     );

//     const data = {
//         raw_resume: fileContents[0],
//         email: email,
//         raw_lor1: fileContents[1],
//         raw_lor2: fileContents[2],
//         raw_sop: fileContents[3]
//     };

//     fetch('http://127.0.0.1:8000/dashboard/', {
//         method: 'POST',
//         headers: {
//             'Content-Type': 'application/json'
//         },
//         body: JSON.stringify(data)
//     });
// }

// document.querySelector('form').addEventListener('submit', handleSubmit);

</script>